:root {
    --background: #0597E3;
    --body: #050AE3;
    --font-family: Arial Rounded Mt;
    --secondary-font:Arial;
    --comm-font: Arial Unicode MS;
    --heading: #3c95e3;
    --feature:#071332;
    --reviewer: Arial Nova;
    --cont: #024076;
    --comp: #11d2d2;
    --pop:whitesmoke;
}